body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
}
#app,
.app {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  width: 100vw;
  width: calc(100vw - 50px);
  /* border: 5px dotted; */
  margin: auto;
  box-sizing: border-box;
  /* justify-content: center; */
  /* align-items: center; */
  /* height: 100vh; */
  align-items: stretch;
  padding: 0.25em;
}

ol.search-results {
  /* border: 1px solid #ddd; */
  /* max-height: 600px; */
  /* overflow-y: scroll; */
}
@media (min-height: 1000px) {
  ol.search-results {
    max-height: 600px;
    overflow-y: scroll;
  }
}

.github {
  position: absolute;
  top: 0;
  right: 0;
}

@media (max-width: 600px) {
  .github {
    transform: scale(0.75) translate(25%, -25%);
  }
}

/* style input file */
.loading label.input.file {
  font-size: 1.5em;
}

input[name='search'] {
  /* width: 100%; */
  align-self: stretch;

  padding: 10px;
  font-size: 1.5em;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* h1, */
input[name='search'] {
  position: sticky;
  top: 0;
}

label.input.file {
  /* text-align: center; */
  /* border: 1px dotted; */
  /* width: min-content; */
  /* align-self: center; */
  padding: 1em;
}
label.input.file > * {
  /* border: 1px dotted; */
  width: min-content;
}
label.input.file > input {
  /* border: 1px dotted; */
  padding: 1em;
  /* display: none; */
}
